body{
  width: 100%;
  height: 100%;
  background-color: #f19c7f;

}
h1{
  text-align: center;
}

.container{

  margin: auto;
  position: relative;
  top: 50vh;
  transform: translateY(-50%);
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  box-shadow: rgba(23, 23, 190, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  background-image: linear-gradient(to top right,  #6055f5,#7ff1d5);

  background-image: linear-gradient(to top left,#7f9bf1,#9bf17f );

}

.row{
  margin: 8px 0px;
}

.button{
  padding: 25px;
  margin: 0 3px;
  border: 2px solid #3a65e9;
  border-radius: 8px;
  cursor: pointer;
  width: 66px;
  font-weight: bolder;
}
button:hover{
  background-color: #f1d57f;
}

.input input{
  margin: 0;
  padding: 9px 20px;
  border: 2px solid #807ff1;
  border-radius: 4px;
  font-size: 20px;
  width: 250px;
}
